/* 顶部导航栏 */
.topbar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}
.service, .topbar li{
    float: left;
}
.topbar a{
    font-size: 12px;
    color:#b0b0b0;
    display:block; /* 设置超链接为块元素，方便布局，让宽高有效 */
}
.topbar :hover{
    color:#fff;
}
.topbar .line{
    font-size: 12px;
    color:#424242;
    margin:0 8px;
}

/* 购物车 */
.shop-cart, .user-info{
    float: right;
}
.shop-cart{
    margin-left: 26px;
}
.shop-cart a{
     width: 120px;
    background-color: #424242;
    text-align: center;
}
.shop-cart:hover a{
    background-color: #fff;
    color: #FF6700;
}
/* 下载app */
.app{
    position: relative;
}
.app::after{
    content:'';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    /* border:none;  设置border：none 再设置底边无效
    border-bottom:8px solid #fff; */
    /* 设置四个方向的边框 */
    border: 8px solid transparent;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
    /*  */
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}

.app .qrcode{
    display:none;
    left: -40px;
    width: 124px;
    height: 0;
    overflow: hidden; /* ？？ */
    position: absolute;  /* 开启绝对定位后，元素会从文档流中脱离，对父元素.app不会被子元素 qrcode 撑开 */
    /* background-color: #aaa; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    line-height: 1;
    text-align: center;

    /* transition: 用于为样式设置过渡效果 */
    transition: height 0.5s;
    z-index: 9999;
}
.qrcode img{
    width: 90px;
    margin:17px 18px 12px;
}

.app .qrcode span{
    font-size: 14px;
    color: #000;
}
.header-wrapper{
    position: relative;
}
.header{
    height: 100px;
    /* background-color: yellow; */
}
.header .logo{
    /* position: absolute; 绝对定位脱离文档流，后面的浮动元素会上移 */
    width: 55px;
    height: 55px;
    overflow:hidden;
    float: left;
    margin-top:22px;
    background-color: #FF6700;
}
.header .logo a{
    position: absolute;
    left:0;
    width: 55px;
    height: 55px;
    background-image: url(../img/mi-logo.png);
    background-position: center;
}
.header .logo .home{
    background-image: url(../img/mi-home.png);
    left: -55px;
}
.header .logo:hover .mi{
    left:55px;
}
.header .logo:hover .home{
    left:0;
}

.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
.header .nav{
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
}
.nav > li{
    float: left;
}
.nav-wrapper li a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}

.nav .goods-info{
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    transition: height 0.3s;
    z-index: 9999;
}

/* .nav li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover ~ .goods-info, */
.nav .show-goods:hover ~ .goods-info,
.goods-info:hover {
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}
.search-wrapper{
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 25px;
}
.search-wrapper .search-inp{
    box-sizing: border-box;
    width: 244px;
    border: none;
    float: left;
    padding: 0 10px;
    height: 50px;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}
.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}
